<h1>Create New Pirate!</h1>
<form action="/pirates" method="post">
<label for="pirate_name" >Name</label></br>
<input type="text" name="pirate[name]" /></br>
<label for="pirate_weight">Weight</label></br>
<input type="text" name="pirate[weight]" /></br>
</form>
