<h1>Create New Pirate!</h1>
<form action="/pirates" method="post">
<h2>Pirate</h2>
  <label for="pirate_name" >Name</label></br>
  <input type="text" name="pirate[name]" /></br>
  <label for="pirate_weight">Weight</label></br>
  <input type="text" name="pirate[weight]" /></br>
  <label for="pirate_height">Height</label></br>
  <input type="text" name="pirate[height]" /></br>
<h2>Ship(s)</h2>
  <label for=""></label>
</form>
