<%# params = {
    "pirate" {
        "name" => "one eyed lew", 
        "weight" => "150", 
        "height" => "5'8" 
        "ship" => {
            "name" => "bucci",
            "type" => "speed",
            "booy" => "lots"
            }
        }
    }
%>
<h2>New Pirate</h2>
<form action="/pirates" method="POST">
    <label for="pirate[name]">Pirate Name:</label> 
    <input type="text" name="pirate[name]" id="pirate[name]">
    <label for="pirate[height]"> Pirate Height: </label>
    <input type="text" name="pirate[weight]" id="pirate[weight]">
    <label for="pirate[weight]"> Pirate Weight: </label>
    <input type="text" name="pirate[height]" id="pirate[height]">
    <br></br>
    <label for="ship_name_1">Ship 1 Name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1">
    <label for="ship_type_1">Ship 1 Type:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1">
    <label for="ship_booty_1">Ship 1 Booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
     <br></br>
    <label for="ship_name_2">Ship 2 Name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2">
    <label for="ship_type_2">Ship 2 Type:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2">
    <label for="ship_booty_2">Ship 2 Booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">

    <input type="submit" value="Submit">
</form>