<%# params = {
    "pirate" {
        "name" => "one eyed lew", 
        "weight" => "150", 
        "height" => "5'8" 
        "ship" => {
            "name" => "bucci",
            "type" => "speed",
            "booy" => "lots"
            }
        }
    }
%>
<h2>New Pirate</h2>
<form action="/pirates" method='Post'>
<label for="pirate[name]">Name: </label>
<input type="text" name="pirate[name]" id="pirate[name]">
<label for="pirate[weight]">Weight: </label>
<input type="text" name="pirate[weight]" id="pirate[weight]">
<label for="pirate[height]">Height: </label>
<input type="text" name="pirate[height]" id="pirate[height]">

<h3>Ship 1</h3>
<label for="ship_name_1">Name: </label>
<input type="text" id="ship_name_1" name="pirate[ships][][name]">
<label for="ship_type_1">Type: </label>
<input type="text" id="ship_type_1" name="pirate[ships][][type]">
<label for="ship_booty_1">Booty:</label>
<input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

<h3>Ship 2</h3>
<label for="ship_name_2">Name: </label>
<input type="text" id="ship_name_2" name="pirate[ships][][name]">
<label for="ship_type_2">Type: </label>
<input type="text" id="ship_type_2" name="pirate[ships][][type]">
<label for="ship_booty_2">Booty:</label>
<input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
<input type="submit" value="Submit">
</form>